
@{
    ViewBag.Title = "ShowUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">contact full information</h4>
            </div>
        </div>
    </div>
