@model DataAccess.Entities.UserCities
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4 class="text-center" style="font-family:'Comic Sans MS';">Welcome to contact system</h4>
        </div>
        <div class="col-12" style="margin-top:5%;">
            <div class="row">
                <div class="col-12" style="border-bottom:1px solid #ff006e; padding:2%;">
                    <div class="text-justify h5" style="font-family:'Comic Sans MS';font-weight:bold;">Search user</div>
                    <form enctype="multipart/form-data" name="contactUserFormSearch" id="contactUserFormSearch">
                        <input type="hidden" id="contactUserHiddenSearch" name="contactUserHiddenSearch" />
                        <div class="form-row">
                            <span style="margin-right:2%; font-weight:bold; font-size:1.2em;">Filters: </span>
                            <div class="form-group col-md-3">
                                <label for="searchCountryFilter" class="text-muted" style="font-weight:bold;">Choose country</label>
                                <select class="form-control" id="searchCountryFilter" name="searchCountryFilter" aria-describedby="couFilter" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                                    <option value="">Select country</option>
                                    @if (Model.Countries.Count() > 0)
                                    {
                                        foreach (var m in Model.Countries)
                                        {
                                            <option value="@m.CountryId">@m.CountryName</option>
                                        }
                                    }
                                </select>
                                <small id="contStatus" class="form-text text-muted">Filter by country</small>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="searchProvinceFilter" class="text-muted" style="font-weight:bold;">Choose province</label>
                                <select class="form-control" id="searchProvinceFilter" name="searchProvinceFilter" aria-describedby="proFilter" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                                    <option value="">Select province</option>

                                </select>
                                <small id="proFilter" class="form-text text-muted">Filter by province</small>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="searchCityFilter" class="text-muted" style="font-weight:bold;">Choose city</label>
                                <select class="form-control" id="searchCityFilter" name="searchCityFilter" aria-describedby="contStatus" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">
                                    <option value="">Select city</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <!--predictive first-->
                                <label for="contactSearchFirst">First Name</label>
                                <input type="text" class="form-control" id="contactSearchFirst" name="contactSearchFirst" style="border-radius:1px;margin-left: auto;margin-right: auto;margin-bottom:0;" placeholder="Search first name">
                                <div class="suggestion-search">
                                    <div id="suggestion-content-name"></div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="contactSearchLast">Last Name</label>
                                <input type="text" class="form-control" id="contactSearchLast" name="contactSearchLast" style="border-radius:1px; margin-left:auto; margin-right:auto; " placeholder="Search last name">
                            </div>
                        </div>

                        @*<span style="margin-right:10%; font-weight:bold; font-size:1.2em;">Filters: </span>
                        <div class="form-group" style="display:inline-block">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label check-container" for="filterCountry" style="margin-right:5%;">
                                    Country
                                    <input class="form-check-input" type="checkbox" id="filterCountry" name="filterCountry" checked="checked" value="option1">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label check-container" for="filterCity" style="margin-right:5%;font-size:1.2em;">
                                    City
                                    <input class="form-check-input" type="checkbox" id="filterCity" name="filterCity" value="option2">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label check-container" for="filterProvince" style="margin-right:5%;font-size:1.2em;">
                                    Province
                                    <input class="form-check-input" type="checkbox" id="filterProvince" name="filterProvince" value="option3">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

