
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/fontawesome/css/all.css" />

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="login-container">
                    <div class="login-title">
                        login admin or user
                    </div>
                    <div class="login-body">
                        <div class="row w-100">
                            <div class="col-6" style="border-right:1px solid #ff006e;">
                                <form enctype="multipart/form-data" name="adlogin" id="adlogin">
                                    <div class="form-group">
                                        <label for="adminLoginEmail">Email address</label>
                                        <input type="email" class="form-control" id="adminLoginEmail" name="adminLoginEmail" aria-describedby="emailHelp" placeholder="enter email">
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="adminLoginPassword">Password</label>
                                        <input type="password" class="form-control" id="adminLoginPassword" name="adminLoginPassword" placeholder="enter password">
                                    </div>
                                    
                                    <input type="submit" value="login as admin" class="btn btn-primary" style="border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">  OR  
                                    @Html.ActionLink("Register as main admin", "register", "login")
                                </form>
                                <div class="row" style="margin-top:2%;">
                                    <div class="col-11">
                                        <div id="loginError" class="hideError">
                                            Please register or enter valid admin details
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-primary justify-content-center" style="margin-top:35%; border-radius:1px; margin-left:auto; margin-right:auto; font-weight:bold;">Click as user to log in</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/main/main.js"></script>
</body>
</html>
